<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Пользователь</title>
</head>
<body>
<div th:if="${name==null}">
	<div><p>Пользователь не найден</p></div>
</div>

<div th:unless="${name==null}">
	<div th:text="'Имя: ' + ${name}"></div>
</div>

</body>
</html>