<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Лог</title>
</head>
<body>

<table>
	<th>id</th>
	<th>service_request</th>
	<th>service_response</th>
	<th>service_response_code</th>
	<th>client_request</th>
	<th>client_response</th>

	<tr th:each="log : ${usersList}">
		<td>
			<input th:value="${log.getId()}"/>
		</td>
		<td>
			<input th:value="${log.getServiceRequest()}"/>
		</td>
		<td>
			<input th:value="${log.getServiceResponse()}"/>
		</td>
		<td>
			<input th:value="${log.getServiceResponseCode()}"/>
		</td>
		<td>
			<input th:value="${log.getClientRequest()}"/>
		</td>
		<td>
			<input th:value="${log.getClientResponse()}"/>
		</td>
	</tr>
</table>
</body>
</html>